@page "/"

<PageTitle>Index</PageTitle>

<h1>PlcTagLIb Blazor Web App</h1>

@* add a link to view the swaggerUI at baseURL/swagger.json*@
<p>Quick Links:
<NavLink href="swagger/index.html">Swagger UI</NavLink>
    , 
<NavLink href="swagger/v1/swagger.json">ApiDocs-V1</NavLink>
</p>


<SurveyPrompt Title="How is Blazor working for you?" />
